<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="gray">

        <a href="/college/home">Home</a> |
        <a href="/college/about">About</a> |
        <a href="/college/course">Courses</a> |
        <a href="/college/faculty">Faculty</a> |
        <a href="/college/contact">Contact</a> |

        <hr size="4" color="red">
        <h1>Welcome to My Home Page : My College</h1>
        <hr size="4" color="red">

    
</body>
</html>