<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow"> 

    <hr size="4" color="red">
    <h1>Our Courses</h1>
    <h2>Full Stack Course</h2>
    <h2>Mern Stack</h2>
    <h2>Python Stack</h2>
    <h2>Java Stack</h2>
    <hr size="4" color="red">

    
</body>
</html>